@font-face {
  font-family: misans;
  src: url(./misans.ttf);
}

* {
  font-family: 'misans';
}

body {
  margin: 0;
}

#mask0 {
  display: block;
  background: #4c4c4c;
  color: #151515;
  position: absolute;
  font-size: 40px;
  top: 256px;
  left: 446px;
}

#mask1 {
  display: block;
  background: white;
  color: #636363;
  position: absolute;
  top: 1199px;
  left: 247px;
  font-size: 39px;
}
#mask2 {
  display: block;
  background: #4c4c4c;
  color: #222;
  position: absolute;
  font-size: 36px;
  top: 483px;
  left: 190px;
}
#mask3 {
  display: block;
  background: #4c4c4c;
  color: #222;
  position: absolute;
  font-size: 36px;
  top: 778px;
  left: 190px;
}

#input {
  width: 100%;
}