@font-face {
  font-family: misans;
  src: url(./misans.ttf);
}

* {
  font-family: 'misans';
}

#mask0 {
  display: block;
  background: #4c4c4c;
  color: #151515;
  position: absolute;
  font-size: 40px;
  top: 265px;
  left: 446px;
}

#mask1 {
  display: block;
  background: white;
  color: #636363;
  position: absolute;
  top: 1206px;
  left: 253px;
  font-size: 39px;
}
#mask2 {
  display: block;
  background: #4c4c4c;
  color: #222;
  position: absolute;
  font-size: 36px;
  top: 492px;
  left: 199px;
}
#mask3 {
  display: block;
  background: #4c4c4c;
  color: #222;
  position: absolute;
  font-size: 36px;
  top: 778px;
  left: 199px;
}

#input {
  width: 100%;
}